{{- define "styles" -}}
{{- if .CSSFiles.FontAwesome -}}
<link rel="stylesheet" href="{{.CSSFiles.FontAwesome}}" />
{{- else if not .Styles.FontAwesome -}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{{- end -}}
{{- if .CSSFiles.Bootstrap -}}
<link rel="stylesheet" href="{{.CSSFiles.Bootstrap}}" />
{{- end -}}
{{- if .CSSFiles.BSSocial -}}
<link rel="stylesheet" href="{{.CSSFiles.BSSocial}}" />
{{- end -}}
<link rel="stylesheet" href="{{.CSSFiles.Custom}}" />
{{- end -}}

{{- define "userInfo" -}}
            {{- with .UserInfo -}}
              <h1>Welcome {{.Subject}}!</h1>
              <br/>
              {{if .Picture}}<img class="login-picture" src="{{.Picture}}?s=120">{{end -}}
              {{if .Name}}<h3>{{.Name}}</h3>{{end -}}
            {{- end -}}
              <br/>
              <a class="btn btn-md btn-danger" href="{{ .Config.LoginPath }}?logout=true">Logout</a>
{{- end -}}

{{- define "login" -}}
              {{- $oauthLength := len .Config.Oauth -}}
              {{- $backendLength := len .Config.Backends -}}
              {{- $onlyOneOAuth := and (eq $oauthLength 1) (eq $backendLength 0) -}}

              {{- range $providerName, $opts := .Config.Oauth  -}}
                <a class="btn btn-block {{- if $onlyOneOAuth}} btn-only-one {{- end}} btn-lg btn-social btn-warning btn-{{ $providerName }}" href="{{ trimRight $.Config.LoginPath `/` }}/{{ $providerName }}">
                  <span class="fa {{if $onlyOneOAuth}}fa-sign-in{{else}}fa-user{{end}} fa-{{ $providerName }}"></span> Sign in with {{ $providerName | ucfirst }}
                </a>
              {{- end -}}
              
              {{- if and (gt $backendLength 0) (gt $oauthLength 0) -}}
                <div class="login-or-container">
                  <hr class="login-or-hr">
                  <div class="login-or lead">or</div>
                </div>
              {{- end -}}

              {{- if gt $backendLength 0  -}}
                <div class="panel panel-default">
  	          <div class="panel-heading">  
  		    <div class="panel-title">
  		      <h4>Sign in</h4>
		    </div>
	          </div>
	          <div class="panel-body">
			  {{- if .Failure}}<div class="alert alert-warning" role="alert">Invalid credentials</div>{{- end -}} 
		    <form accept-charset="UTF-8" role="form" method="POST" action="{{.Config.LoginPath}}">
                <fieldset>
		        <div class="form-group">
		          <input class="form-control" placeholder="Username" name="username" value="{{.UserInfo.Subject}}" type="text">
		        </div>
		        <div class="form-group">
		          <input class="form-control" placeholder="Password" name="password" type="password" value="">
		        </div>
		        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
		      </fieldset>
		    </form>
	          </div>
	        </div>
              {{- end -}}
{{- end}}