{{- define "styles" -}}
{{- if .CSSFiles.FontAwesome -}}
<link rel="stylesheet" href="{{.CSSFiles.FontAwesome}}" />
{{- else if not .Styles.FontAwesome -}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{{- end -}}
{{- if .CSSFiles.Bootstrap -}}
<link rel="stylesheet" href="{{.CSSFiles.Bootstrap}}" />
{{- end -}}
{{- if .CSSFiles.BSSocial -}}
<link rel="stylesheet" href="{{.CSSFiles.BSSocial}}" />
{{- end -}}
<style>
{{- if not .CSSFiles.Bootstrap -}}
{{- .Styles.Bootstrap | toCSS -}}
{{- end -}}
{{- if not .CSSFiles.BSSocial -}}
{{- .Styles.BSSocial | toCSS -}}
{{- end -}}
{{- if not .CSSFiles.FontAwesome -}}
{{- .Styles.FontAwesome | toCSS -}}
{{- end -}}
.vertical-offset-100{padding-top:100px;}
.login-or-container {text-align: center;margin: 0;margin-bottom: 10px;clear: both;color: #6a737c;font-variant: small-caps;}
.login-or-hr {margin-bottom: 0;position: relative;top: 28px;height: 0;border: 0;border-top: 1px solid #e4e6e8;}
.login-or {display: inline-block;position: relative;padding: 10px;background-color: #FFF;}
.login-picture {height: 120px;border-radius: 3px;margin-bottom: 10px;box-shadow: 0 0 5px #ccc;}
@media (prefers-color-scheme: dark) {
body,.login-or{background-color:#111;}.login-or-hr{border-color:#444}body{color:#aaa}
.panel-default{border-color:#333}.panel{background-color:#333}.login-or-container{color:#888}
.panel-default>.panel-heading{color: #fff;background-color: #555;border-color: #333;}
.form-control{background-color: #000;border-color:#333;color:#f1f1f1}
}</style>
{{- end -}}

{{- define "userInfo" -}}
              {{- with .UserInfo -}}
                <h1>Welcome {{.Subject}}!</h1>
                <br/>
                {{if .Picture}}<img class="login-picture" src="{{.Picture}}?s=120">{{end -}}
                {{if .Name}}<h3>{{.Name}}</h3>{{end -}}
              {{- end -}}
              <br/>
              <a class="btn btn-md btn-primary" href="{{ .Config.LoginPath }}?logout=true">Logout</a>
{{- end -}}

{{- define "login" -}}
              {{- range $providerName, $opts := .Config.Oauth  -}}
                <a class="btn btn-block btn-lg btn-social btn-primary btn-{{ $providerName }}" href="{{ trimRight $.Config.LoginPath "/" }}/{{ $providerName }}">
                  <span class="fa fa-user fa-{{ $providerName }}"></span> Sign in with {{ $providerName | ucfirst }}
                </a>
              {{- end -}}

              {{- if and (not (eq (len .Config.Backends) 0)) (not (eq (len .Config.Oauth) 0)) -}}
                <div class="login-or-container">
                  <hr class="login-or-hr">
                  <div class="login-or lead">or</div>
                </div>
              {{- end -}}

              {{- if not (eq (len .Config.Backends) 0)  -}}
                <div class="panel panel-default">
  	          <div class="panel-heading">  
  		    <div class="panel-title">
  		      <h4>Sign in</h4>
		    </div>
	          </div>
	          <div class="panel-body">
			  {{- if .Failure}}<div class="alert alert-warning" role="alert">Invalid credentials</div>{{- end -}} 
		    <form accept-charset="UTF-8" role="form" method="POST" action="{{.Config.LoginPath}}">
                <fieldset>
		        <div class="form-group">
		          <input class="form-control" placeholder="Username" name="username" value="{{.UserInfo.Subject}}" type="text">
		        </div>
		        <div class="form-group">
		          <input class="form-control" placeholder="Password" name="password" type="password" value="">
		        </div>
		        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
		      </fieldset>
		    </form>
	          </div>
	        </div>
              {{- end -}}
{{- end}}